name: Build with Docker Build Cloud

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_ACCOUNT }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Set up Docker Buildx (Docker Cloud)
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "cloud://shettyanna/gen-ai-testing_linux:amd64"

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ${{ vars.DOCKER_ACCOUNT }}/genai-frontend:latest
          outputs: type=registry
